<!DOCTYPE html>
<html lang="pt-br">
    <%- include('../partials/head'); %>
<body class="container">
    <%- include('../partials/header',{pagina:'sobre'}); %>
    <main>
        <div>
            <h1>Sobre Mim</h1>
            <p>Vinicius Hansen D'Agostini</p>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>